@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.reflect-bottom {
  -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

/* Uncommented drop shadow filter for custom styles */
.custom {
  filter: drop-shadow(20px 30px 30px rgba(252, 163, 17, 0.5));
}



/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* Light gray for the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f7a8c;
  /* Slightly darker gray for the scrollbar thumb */
  border-radius: 10px;

}



/* testing  */

@keyframes customSlideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  30% {
    transform: translateY(-10%);
    opacity: 0.3;
  }
  60% {
    transform: translateY(5%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


[data-aos="customSlideUp"] {
opacity: 0;
  transition-property: all ;
  
  &.aos-animate {
    opacity: 1;
    animation: customSlideUp 1s ease-out forwards; 
  }
}


@keyframes perfume {
  0% {
    transform: translateX(100%) rotate(-20deg); /* Start from the right */
    opacity: 0; /* Invisible at start */
    filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0.8)); /* No shadow at start */
  }
  25% {
    transform: translateX(-200px) rotate(-20deg); /* Move to the original position */
    opacity: 1; /* Fully visible */
    filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0.8)); /* No shadow */
  }
  50% {
    transform: translateX(0) rotate(-20deg); /* Stay in original position */
    opacity: 1; /* Fully visible */
    filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0.8)); /* No shadow */
  }
  75% {
    transform: translateX(0) rotate(20deg); /* Stay in position with rotation */
    opacity: 1; /* Fully visible */
    filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0.8)); /* Full shadow */
  }
  100% {
    transform: translateX(0) rotate(20deg); /* Stay in position with rotation */
    opacity: 1; /* Fully visible */
    filter: drop-shadow(20px 30px 30px rgba(252, 163, 17, 0.5)); /* Final shadow */
  }
}

[data-aos="perfume"] {
  opacity: 0;
    transition-property: all ;
    
    &.aos-animate {
      opacity: 1;
      animation: perfume 2s ease-in-out ; 
    }
  }
